doctype html
html
  head
    meta(charset="utf-8")
    title Svpa - simple avatar
    meta(name="description" content="A simple fast stable and powerfull avatar service" )
    meta(name="keywords" content="Svpa,avatar,letter avatar" )
    script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
  body
    header

    block con

    footer